{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false
}
```

Create `conductor-server/.prettierignore`:
```
node_modules
dist
coverage
*.log
.env
package-lock.json